#header #inner {
  background: cadetblue;
  padding: 1rem;
}

#header h1 {
  margin: 0;
}

#header h1 a {
  color: white;
  text-decoration: none;
  font-size: 48px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 5rem 5rem 5rem;
}

h2 {
  font-size: 32px;
}
